

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.css';
@import 'react-loading-skeleton/dist/skeleton.css';

:root{
    --primary: #024CAA;
    --primary-border:  #4a57e8;
    --textdark: text-gray-600;
    --textlight: rgb(255, 255, 255);
    --textwhite: #ffff;
    --outlineError: #f91d1d;
    --header-height: 70px;
    --sidebar-with: 240px;
    --bg-btn-edit:#CAA100;
    --bg-btn-delete:#C13726;
    --bg-btn-add: #16987E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-y:overlay;
}
#root{
    position: relative;
}
#box-container{
    position: absolute;
    
}

