

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.css';

:root{
    --primary: #2ab7ca;
    --textdark: text-gray-600;
    --textwhite: #ffff;
    --outlineError: #f91d1d;
    --header-height: 70px;
    --sidebar-with: 240px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* font-size: 62.5%; */
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-y:overlay;
}
